*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container{
    border: 2px solid #000;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p{
    font-size: 24px;
    font-weight: 800;
}
.btn-container{
    text-align: center;
}
.btn{
    width: 60px;
    background-color: firebrick;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    border-color: firebrick;
}
img{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.msg{
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.btn-container>.btn1:hover~img{
    transition: all 15s ease;
    transform: rotate(3600deg);
}
.btn-container>.btn2:hover~img{
    transition: all 15s ease;
    transform: rotate(5400deg);
}
.btn-container>.btn3:hover~img{
    transition: all 15s ease;
    transform: rotate(7200deg);
}
.btn-container>.btn4:hover~img{
    transition: all 15s ease;
    transform: rotate(10400deg);
}